<form id="new-note" action="plugin/imagereviews/run/addNote" class="hide">
    <p>
        <label for="">Please put your note about work:</label>
        <textarea name="description"></textarea>
    </p>
    <input type="hidden" name="imgPosX"/>
    <input type="hidden" name="imgPosY"/>
    <input type="hidden" name="pageId" value="<?php echo $this->pageId; ?>"/>
    <p>
        <button type="submit" class="action-add-note">Save</button>
    </p>
</form>
<ul class="image-reviews-list" data-pid="<?php echo $this->pageId; ?>">

</ul>
