<?php
$this->headLink()
     ->appendStylesheet($this->websiteUrl . 'system/css/reset.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster-ui.css')
     ->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();

$this->jQuery()->enable();
$this->jQuery()->uiEnable();
$this->jQuery()
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/chosen/chosen.jquery.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/jquery/plugins/cookie/jquery.cookie.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/external/smoke/smoke.min.js')
     ->addJavascriptFile($this->websiteUrl . 'system/js/internal/system.min.js');
echo $this->jQuery();
?>

<div class="seotoaster container">
    <div class="header">
        <div class="closebutton">
           <a class="close ticon-close" href="javascript:;" title="<?php echo $this->translate('Close'); ?>"></a>
        </div>
        <?php echo $this->translate('Fast button configuration'); ?>
    </div>
    <form class="content-footer fastbutton-config" name="fastbutton-configuration" action="<?php echo $this->websiteUrl; ?>api/imagereviews/imagereviews/" method="POST">
       <p class="grid_12">
           <input type="text" name="projectName" />
       </p>
        <p class="grid_12">
            <button class="saveConfig btn ticon-save _fajax _reload" type="submit"
                name="saveConfig"><?php echo $this->translate('Save config'); ?></button>
        </p>
<!--        <input type="hidden" name="container" value="--><?php //echo $this->containerName; ?><!--"/>-->
        <input type="hidden" name="pageId" value="<?php echo $this->pageId; ?>"/>

    </form>
</div>
<script type="text/javascript">
    $(function () {
        // begin: helper functions
        var closest = function (el, fn) {
            return el && (fn(el) ? el : closest(el.parentNode, fn));
        };

        function httpRequest(url, type, data, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open(type, url, true);
            xmlHttp.send(data);
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4) {
                    if (xmlHttp.status == 200) {
                        if (callback) {
                            callback(xmlHttp.responseText);
                        }
                    }
                }
            }
        }

        function multipleEventListener(event, element, callback, parent) {
            var theParent = document.querySelector(parent);
            theParent.addEventListener(event, checkElement, false);

            function checkElement(e) {
                if (e.target.classList.contains(element)) {
                    callback(e.target);
                }
                e.preventDefault();
            }
        }




        $(".saveConfig").on('click', function (e) {
            e.preventDefault();
            showSpinner();
            $.ajax({
                type: 'POST',
                url: '<?php echo $this->websiteUrl; ?>api/imagereviews/imagereviews/',
                dataType: 'json',
                data: $(this).closest('form').serialize(),
                success: function (response) {
                    console.log(response);
                    if (!response.error) {
//                        showMessage("Done");
//                        top.location.reload();
                    }
                },
                error: function (err) {
                    showMessage(err, true);
                }
            });
            hideSpinner();
        });

        $('select[name="link"]').on('change', function(){
            if($(this).val() != 0){
                $('input[name="link"]').val($(this).val());
                $('input[name="link"]').attr('disabled', 'disabled');
            } else {
                $('input[name="link"]').removeAttr('disabled');
            }
        });
    });
</script>