<?php $n = 1;
foreach ($this->notes as $note) {
    ?>
    <li class="note" id="note-<?php echo $note->id; ?>" data-note-id="<?php echo $note->id; ?>">
        <div class="-nav">
            <a href="#" class="ir-edit">Edit</a>
            <a href="#" class="ir-remove error">Remove</a>
        </div>
        <p class="-title">Note №<?php echo $n; ?></p>
        <div class="-desc">
            <?php echo $note->description; ?>
        </div>
    </li>
    <?php $n++; } ?>